.event-img {
    margin-bottom: 10px;
}

.form-signin {
    padding: 5px;
}

.map {
    height: 400px;
    width: 100%;
}

.event-time {
    font-size: 20px;
    text-align: center;
}

.poster img {
    max-width: 100%;
}
