{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <article class="about-us text-justify">
        <div class="col-md-6">
            <p><strong>Oświęcimski Kalendarz Wydarzeń</strong> to część projektu Strefy Innowacji, realizowanego przez Bibliotekę Galerię Książki w porozumieniu z Fundacją Rozwoju Społeczeństwa Informacyjnego.</p>
            <p>W jego ramach główny nacisk położyliśmy na stworzenie narzędzi, dzięki którym mieszkańcy Oświęcimia, mogliby się lepiej między sobą komunikować - na wielu płaszczyznach - zawodowej, prywatnej, rozrywkowej, kulturalnej, urzędowej&hellip;</p>
            <p>Dzięki temu kalendarzowi, każdy chętny użytkownik będzie mógł pełniej i lepiej korzystać z oferty wydarzeń jaka funkcjonuje w naszym mieście, a każdy, kto wydarzenia organizuje - będzie je mógł promować i docierać z informacją do szerokiego grona odbiorców.</p>
            <p>Wszystko co dzieje się w mieście - teraz może być dostępne na jednej stronie - zapraszamy do korzystania i współtworzenia.</p>
            <p>Jeśli jesteś organizatorem wydarzenia i chciałbyś je umieścić w kalendarzu - napisz do nas - <a href="mailto:kalendarz@oiloswiecim.pl">kalendarz@oiloswiecim.pl</a>.</p>
            <p>Moduł kalendarza powstał podczas hackatonu organizowanego przez <a href="http://kodujdlapolski.pl/" target="_blank">Koduj dla Polski</a> i <a href="https://hs-silesia.pl/" target="_blank">Stowarzyszenie Hackerspace Silesia</a>. Dziękujemy wszystkim, którzy poświęcili swój czas na jego tworzenie i dostosowywanie.</p>
        </div>
        <div class="col-md-6">
            <img src="{% static 'img/desk.jpg' %}" class="img-responsive img-circle">
        </div>
    </article>
{% endblock %}
