{% extends 'base.html' %}
{% load thumbnail staticfiles %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h1>
                {{ event.title }}
            </h1>
            {% if can_edit %}
                <a class="btn btn-default" href="{% url 'event_update' pk=event.pk %}">EDYTUJ</a> <br/>
            {% endif %}
            Start wydarzenia:
            <div class="alert alert-success event-time">
                {{ event.start_time }}
            </div>
            {% if event.end_time %}
                Koniec wydarzenia:
                <div class="alert alert-success event-time">
                    {{ event.end_time }}
                </div>
            {% endif %}
            {% autoescape off %}
                {{ event.description }}
            {% endautoescape %}
            {% if event.url %}
                <h3><i class="glyphicon glyphicon-globe"></i><a href="{{ event.url }}"> {{ event.url }} </a></h3>
            {% endif %}
            {% if event.orgs.exists %}
                <h3>
                    <i class="glyphicon glyphicon-user"></i>
                    Organizatorzy
                </h3>
                <ul>
                    {% for org in event.orgs.all %}
                        <li>
                            {% if org.logo %}
                                {% thumbnail org.logo "x36" as logo %}
                                <img src='{{ logo.url }}'/>
                                {% endthumbnail %}
                            {% endif %}
                            <strong>{{ org.name }}</strong>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if event.point %}
                <div id="map" class="map" data-lat="{{ event.point.x }}" data-lng="{{ event.point.y }}"></div>
            {% endif %}

        </div>
        <div class="col-md-6 poster">
            {% if event.image %}
                {% if event.image.width > 1024 %}
                    {% thumbnail event.image "1024" as poster %}
                    <img src="{{ poster.url }}">
                    {% endthumbnail %}
                {% else %}
                    <img src="{{ event.image.url }}">
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="//openlayers.org/en/v3.7.0/css/ol.css" type="text/css">
{% endblock %}
{% block extra_js %}
    <script src="//openlayers.org/en/v3.7.0/build/ol.js" type="text/javascript"></script>
    <script src="{% static 'js/maps.js' %}" type="text/javascript"></script>
{% endblock %}
