{% extends 'base.html' %}
{% load thumbnail staticfiles %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h1 class="event-title">
                {{ event.title }}
            </h1>
            {% if event.categories.count > 0 %}
            <h5>
                Kategorie:
                {% for category in event.categories.all %}
                    <span class="label label-{{ category.color|default:"primary" }}">
                        {{ category.name }}
                    </span>
                {% endfor %}
            </h5>
            {% endif %}
            {% if can_edit %}
                <a class="btn btn-default" href="{% url 'event_update' pk=event.pk %}">EDYTUJ</a> <br/>
            {% endif %}
            {% if event.place %}
                <h4 title="Miejsce wydarzenia"><span class="glyphicon glyphicon-map-marker"></span> {{ event.place }}</h4>
            {% endif %}
            <div class="row">
                <div class="col col-md-6 schedule schedule-begin">
                    <div class="panel panel-default">
                        <div class="panel-heading">Rozpoczęcie</div>
                        <div class="panel-body event-time">
                            <span class="glyphicon glyphicon-calendar"></span> {{ event.start_time }}
                        </div>
                    </div>
                </div>
                {% if event.end_time %}
                <div class="col col-md-6 schedule schedule-end">
                    <div class="panel panel-default">
                        <div class="panel-heading">Zakończenie</div>
                        <div class="panel-body event-time">
                            <span class="glyphicon glyphicon-calendar"></span> {{ event.end_time }}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            {% autoescape off %}
            <div class="description text-justify">
                {{ event.description }}
            </div>
            {% endautoescape %}
            {% if event.url %}
                <h4><i class="glyphicon glyphicon-globe"></i> <a href="{{ event.url }}" target="_blank">{{ event.url }}</a></h4>
            {% endif %}
            <div class="location">
              <h4><span class="glyphicon glyphicon-map-marker"></span> Lokalizacja</h4>
              <div id="map" style="height: 180px;"></div>
            </div>
            {% if event.orgs.exists %}
                <h4>
                    <i class="glyphicon glyphicon-user"></i>
                    Organizatorzy
                </h4>
                <ul>
                    {% for org in event.orgs.all %}
                        <li>
                            {% if org.logo %}
                                {% thumbnail org.logo "x36" as logo %}
                                <img src='{{ logo.url }}'/>
                                {% endthumbnail %}
                            {% endif %}
                            <strong>{{ org.name }}</strong>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="col-md-6 poster">
            {% if event.image %}
                {% if event.image.width > 1024 %}
                    {% thumbnail event.image "1024" as poster %}
                    <img src="{{ poster.url }}">
                    {% endthumbnail %}
                {% else %}
                    <img src="{{ event.image.url }}">
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block extra_css %}
<link href="{% static "css/vendor/leaflet.css" %}" rel="stylesheet" />
<link href="{% static "css/vendor/leaflet.fullscreen.css" %}" rel="stylesheet" />
{% endblock %}

{% block extra_js %}
<script src="{% static "js/vendor/leaflet.js" %}"></script>
<script src="{% static "js/vendor/leaflet.fullscreen.min.js" %}"></script>
<script>
    var lat = "{{ event.latitude|stringformat:"f" }}";
    var lon = "{{ event.longitude|stringformat:"f" }}";
    var map = L.map('map', {
        center: [lat, lon],
        zoom: 15,
        fullscreenControl: true
    });

    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
		}).addTo(map);

    L.marker([lat, lon]).addTo(map);
</script>
{% endblock %}
