{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-xs-6">
            <h1>{{ event.title }}</h1>
            Start wydarzenia:
            <div class="alert alert-success">
                {{ event.start_time }}
            </div>
            {% if event.end_time %}
            Koniec wydarzenia:
            <div class="alert alert-success">
                {{ event.end_time }}
            </div>
            {% endif %}
            {{ event.description }}
            <h3><i class="glyphicon glyphicon-user"></i>Organizatorzy</h3>
            
        </div>
        <div class="col-xs-6">
            {% if event.image %}
                <img src="{{ event.image.url }}">
            {% endif %}
        </div>
    </div>
{% endblock %}