{% extends 'index.html' %}
{% load staticfiles %}

{% block content %}
    <div id='calendar'></div>
    <div>
        Do pobrania w wersji ical:
        <a href="{% url 'ical' %}">tutaj</a>
    </div>
{% endblock %}
{% block extra_css %}
    <link href="{% static 'css/fullcalendar.min.css' %}" rel="stylesheet">
{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
      window.TODAY_DATA = {{ events_as_json | safe}};
    </script>
    <script type="text/javascript" src="{% static 'js/vendor/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/fullcalendar/fullcalendar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/fullcalendar/lang/pl.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/event-list.js' %}"></script>
{% endblock %}
