{% extends 'index.html' %}
{% load staticfiles %}

{% block extra_head %}
<title>Oświęcim - Tu Się Dzieje! | Kalendarz</title>
<meta property="og:title" content="Oświęcim - Tu Się Dzieje! | Kalendarz" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:image" content="http://{{ request.get_host }}{% static 'img/osw_x200.jpg' %}" />
<meta property="og:description" content="Dzięki temu kalendarzowi, każdy chętny
użytkownik będzie mógł pełniej i lepiej korzystać z oferty wydarzeń jaka
funkcjonuje w naszym mieście, a każdy, kto wydarzenia organizuje - będzie je
mógł promować i docierać z informacją do szerokiego grona odbiorców." />

{% endblock %}

{% block content %}
    <div id='calendar'></div>
    <div>
        Do pobrania w wersji ical:
        <a href="{% url 'ical' %}">tutaj</a>
    </div>
{% endblock %}

{% block extra_css %}
    <link href="{% static 'css/fullcalendar.min.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
      window.TODAY_DATA = {{ events_as_json | safe}};
    </script>
    <script type="text/javascript" src="{% static 'js/vendor/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/fullcalendar/fullcalendar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/fullcalendar/lang/pl.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/event-list.js' %}"></script>
{% endblock %}
