{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_head %}
<title>Oświęcim - Tu Się Dzieje!</title>
<meta property="og:title" content="Oświęcim - Tu Się Dzieje!" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:image" content="http://{{ request.get_host }}{% static 'img/osw_x200.jpg' %}" />
<meta property="og:description" content="Dzięki temu kalendarzowi, każdy chętny
użytkownik będzie mógł pełniej i lepiej korzystać z oferty wydarzeń jaka
funkcjonuje w naszym mieście, a każdy, kto wydarzenia organizuje - będzie je
mógł promować i docierać z informacją do szerokiego grona odbiorców." />
{% endblock %}

{% block content %}
    <div class="col-xs-12">
        <div class="intro">
            <img src="{% static 'img/osw.jpg' %}" class="img-responsive">
        </div>
        {% include 'partials/_event_list.html' %}
    </div>
    <div class="col-xs-12 text-center more-events">
      <a href="/wydarzenie" class="btn btn-md btn-primary"><span class="glyphicon glyphicon-calendar"></span> Więcej wydarzeń?</a>
    </div>
{% endblock %}
