django==3.0.4
pillow==7.0.0
psycopg2-binary==2.8.4
sorl-thumbnail==12.6.3
django-widget-tweaks==1.4.6
django-ckeditor==5.9.0
django-braces==1.14.0
django-datetime-widget==0.9.3
django-ical==1.7.0
dj-database-url
pytz
django-bootstrap3==12.0.3
#django-dbbackup==3.2.0
git+https://github.com/django-dbbackup/django-dbbackup.git@master#egg=django-dbbackup
#django-osm-field==0.3.1
git+https://github.com/hackerspace-silesia/django-osm-field.git@fa4cb32bf4408ebf8b8b463a551a0efa0bf6efb4#egg=django-osm-field
django-easy-select2==1.5.6
